using ZooLogic;
@page "/"

<PageTitle>Home</PageTitle>

<h1>Zoo Keeper</h1>
<h2>Animal List</h2>

<label>
    Animal
    <input type="text" @bind=AnimalInput>
</label>
<label>
    Species
    <input type="text" @bind=SpeciesInput>
</label>

@code {
string AnimalInput;
string SpeciesInput;

void AddAnimal() {
    
}
}